/* @import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap'); */

* {
  box-sizing: border-box;
}

body {
  background-color: #272e2e;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}
.counter-container span{
    color: rgb(189, 118, 27);
    font-weight: bold;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
  color: aquamarine;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}